{% extends 'base_admin.html' %}
{% block body %}
<h1 class="display-5" align="center">Таблица "Роль"</h1>
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Создать роль
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Создание роли</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Создать</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {% for note in data %}
        <tr id="id{{note[0]}}">
            <td contenteditable="true">{{note[1]}}</td>
            <td>Удалить</td>
        </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}